*{
    margin: 0;
    padding: 0;
}
header{
    top: 0%;
    position: fixed;
    background-color:rgb(0, 0, 0);
    width: 100%;
    z-index: 3;
}
nav{
    display: flex;
    flex-wrap: wrap;
    font-family: 'Zen Antique Soft', serif;
    justify-content: space-between;
    background-color: black;
    width: 100%;
    height: 10vh;
align-items: center;
border-bottom: solid 1px;

}
nav a{
    text-decoration: none;
    color: rgb(182, 177, 176);
width:30%;
}
body{
     
    background-color:rgb(0, 0, 0);
}
main{
    width: 97%;
    margin: auto;
}
#icons{
display: flex;
height: 100px;
justify-content: space-between;
}
#icons img{
   width: 200px;
}
#navBar{
    display: flex;
justify-content: space-evenly;
width: 60%;

}
#navBar li {
list-style-type: none;
transition-duration: .5s;
transition-timing-function:ease;
}
#navBar li:hover{
font-weight: bolder;
font-size:larger;
}
#navBar a {
    text-decoration: none;
    color: rgb(180, 173, 172);
    font-size: large;
}
.heroImage{
  
display: none;
background-size: 100%,50%;
width:100%;
height:90vh;
background-repeat: no-repeat;
margin-bottom: 50px;
  margin-top: 30px;
  opacity: .1;
 animation-name:fade;
 animation-duration: 4s;
 animation-timing-function:linear;
}
@keyframes fade {
    10%{opacity: .2} 
    20%{opacity: .3} 
    30% {opacity: .5}
    40% {opacity: .6}
    60%{opacity: .8;}
    70%{opacity: .6;}
    80%{opacity: .5;}
    90%{opacity: .3;}
    100%{opacity: .2;}
  }

.heroText{
    font-family: 'Zen Antique Soft', serif;
    position: absolute;
    top: 30%;
    left: 10%;
    font-weight: bold;
    font-size: 200%;
    color:rgb(247, 241, 241);
}
footer{

height: 10vh;
width: 100%;
}
#links{
    width:100%;
    height: 40px;
    text-align: center;
    color: rgb(122, 213, 219);;
    font-size: 40px;
}
@media  screen and (max-width:500px){
    #slide{
        margin-bottom: 0;
    }
    .heroImage{
        margin-top: 200px;
   
    
    }
    
  }